@use './src/styles/variables';

.aside {
  margin-top: 3px;
  width: 100%;
  min-width: 200px;
  background-color: variables.$secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: calc(100% - 69px);

  .aside__menu_item {
    display: block;
    height: 24px;
    padding: 12px 0 12px 16px;
    box-shadow: 0 2px 1px -1px rgb(224, 224, 224);
    color: #ffffff;
    cursor: pointer;
    border-top: 1px solid #e0e0e0;
    &_title {
      color: white;
    }
  }
  .aside_accordion {
    background-color: transparent;
    color: #ffffff;
    margin: 2px 0 !important;
    box-shadow: 0 2px 1px -1px rgb(224, 224, 224) !important;
    .aside_accordion_list {
      padding: 0;
      margin: 0;
      .aside_accordion_list_ul {
        padding: 0;
        margin: 0;
        width: 100%;
        .aside_accordion_list_ul_li {
          width: calc(100% - 30px);

          padding: 10px 0 10px 30px;
          border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);

          &:last-child {
            border-bottom: none;
          }
          a {
            color: #8bc2b6;
            text-decoration: none;
            font-size: small !important;
            // box-shadow: #ffffff;
            // text-shadow: #ffffff 1px -1px;
          }
          p {
            position: relative;
            font-size: 0.85rem !important;
            &::before {
              color: #ffffff;
              content: '\2022';
              font-size: 21px;
              font-weight: 900;
              left: -12px;
              line-height: 18px;
              position: absolute;
            }
          }
        }
        .aside_accordion_list_ul_li_active {
          background-color: #424242;
          a {
            // color: rgb(175, 175, 175);
            text-decoration: underline;
            color: #a8a8a8;
          }

          p {
            font-weight: 500 !important;
          }
        }
      }
    }
    .aside_accordion_icon {
      color: #ffffff;
    }
  }

  .aside__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #c0c0c0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    .aside__information_item {
      padding: 10px;
    }
  }
}
