@use './src/styles/variables';

.footer {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: smaller;
  background-color: variables.$secondary-color;
}
